@font-face {
	font-family: "Freshman";
	src: local("Freshman"), url(../fonts/Freshman.ttf) format("truetype");
}

/*Pickems*/
.Header {
	height: 80px;
	width: 100%;
	background-color: #0a0e13;
	border-bottom: 2px solid rgba(51, 51, 51, 0.25);
	position: relative;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Pickems {
	background-color: #0f1519;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

#username {
	max-width: 20vw;
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*Crystal ball*/
.Submitdiv {
	position: fixed;
	height: 60px;
	width: 100vw;
	bottom: 0px;
	left: 0px;
	background-color: #0a0e13;
	border-top: 4px solid #292d31;
	display: flex;
	align-items: center;
	justify-content: center;
}

.questiondiv {
	position: relative;
	width: 200px;
	min-width: 250px;
	height: 300px;
	border: 2px solid #292d31;
	border-radius: 10px;
	margin: 30px;
	padding: 10px;
}

.questionContent {
	font-size: large;
	width: 100%;
}

.cd {
	width: 100%;
	height: 30px;
	text-align: right;
	font-size: medium;
	color: yellow;
}

.textInput {
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
	border-radius: 0.2em 0.2em 0 0;
	padding: 0.4em;
	font-size: large;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
	left: 10px;
	width: 90%;
	height: 50px;
	border-radius: 10px;
	padding-left: 10px;
}

.textInput[category="esports"] {
	color: #52baff;
	border-bottom: 0.2em solid #52baff;
}

.textInput[category="esports"]:disabled,
.textInput[category="esports"]:focus {
	background-color: rgba(0, 63, 145, 0.2);
}

.textInput[category="sgt"] {
	color: #22f851;
	border-bottom: 0.2em solid #22f851;
}

.textInput[category="sgt"]:disabled,
.textInput[category="sgt"]:focus {
	background-color: rgba(26, 196, 91, 0.123);
}

.textInput[category="msite"] {
	color: #fc3ebc;
	border-bottom: 0.2em solid #fc3ebc;
}

.textInput[category="msite"]:disabled,
.textInput[category="msite"]:focus {
	background-color: rgba(185, 105, 145, 0.26);
}

.textInput[category="misc"] {
	color: #ffb62d;
	border-bottom: 0.2em solid #ffb62d;
}

.textInput[category="misc"]:disabled,
.textInput[category="misc"]:focus {
	background-color: rgba(230, 218, 56, 0.26);
}

.categorylabel {
	position: relative;
	top: 20px;
	margin: 20px 10px 0px 10px;
	display: flex;
	justify-content: center;
}

.categorywrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 80px 0px 80px;
}

/*Picks*/

.mlTeamDiv {
	margin: 20px 50px 20px 50px;
	width: 30%;
	min-width: 250px;
	border-radius: 10px;
	border: 5px solid cyan;
	padding: 40px;
}

.img {
	width: 100%;
	height: 100%;
	max-height: 200px;
	object-fit: contain;
}

.mlTeamDiv[picked="picked"] {
	background-color: rgba(3, 112, 255, 0.534);
}

.codTeamDiv {
	margin: 20px 50px 20px 50px;
	width: 30%;
	min-width: 250px;
	border-radius: 10px;
	border: 5px solid rgb(229, 255, 0);
	padding: 40px;
}

.codTeamDiv[picked="picked"] {
	background-color: rgba(255, 238, 0, 0.575);
}

.msiteDiv {
	margin: 20px 25px 20px 25px;
	width: 15%;
	height: 200px;
	min-width: 200px;
	border-radius: 10px;
	border: 5px solid #fc3ebc;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.msite_img {
	width: 100%;
	height: 100%;
	padding: 10px;
	max-height: 125px;
	object-fit: contain;
}

.msiteDiv[picked="picked"] {
	background-color: rgba(255, 27, 141, 0.623);
}
